@model MvcAppMain.Models.UserDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .panel {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0.0);
        padding: 30px 20px;
        margin-top: 5vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
    }

    h2 {
        text-align: center;
    }
    ::placeholder {
        font-style: italic;
    }

</style>
<h2>Thêm Tài Khoản</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12"></div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-default">

                        <div class="panel-body" style="padding-left:40px;">

                          
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, "Tài Khoản:", htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.UserName, new { placeholder = "Tên Tài Khoản", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, "Mật Khẩu:", htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Password, new { placeholder = "Mật khẩu", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserTypeID, "Loại Tài Khoản", htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-10">
                                    @Html.DropDownList("UserTypeID", String.Empty)
                                    @Html.ValidationMessageFor(model => model.UserTypeID)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" onclick="window.location.href='@Url.Action("Index","UserDetails")'" class="btn btn-default">Quay lại</button>
                                    <input type="submit" value="Xác Nhận" class="btn btn-default" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
