@model MvcAppMain.Models.PhieuTiepNhan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    body {
        color: white;
        margin: 0;
        padding-top: 0vh;
        padding-right: 0px;
        background: url("/Content/Image/BG-TiepNhan.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: sans-serif
    }

    .panel {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0.5);
        padding: 10px 40px;
        margin-top: 10vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
        width: 99%;
    }


    h2 {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        color: #fafc0d;
    }



    table {
        text-align: center;
    }
</style>
<body>
    <div>

        <dl class="dl-horizontal">
            <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-12"> </div>

                <div class="col-md-11 col-sm-9 col-xs-12">
                    <div class="panel panel-default">
                        <Center><h2>Thông tin chi tiết</h2></Center>
                        <div class="panel-body col-md-offset-3" style="padding-left:70px;">
                            <div>

                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.HoSoBenhNhan.HoTen)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.HoSoBenhNhan.HoTen)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.NgayTiepNhan)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NgayTiepNhan)
                                    </dd>

                                </dl>
                            </div>


                            <div class="form-inline col-md-offset-1" style="padding-top:20px;padding-left:30px;">


                                <a href="@Url.Action("Index", "PhieuTiepNhans")" style="padding-right:20px;">
                                    <button class="btn btn-danger">Quay lại </button>
                                </a>


                                <a href="@Url.Action("Edit", "PhieuTiepNhans", new { id = Model.IDPhieuTN })">
                                    <button class="btn btn-warning">Sửa thông tin</button>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </dl>
    </div>
</body>
