
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        color: white;
        background: url("/Content/Image/BG-Report.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: sans-serif;
    }

    .panel {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0.5);
        padding: 10px 40px;
        margin-top: 5vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
        width: 99%;
    }


    h3 {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        color: #fafc0d;
    }

    table {
        text-align: center;
    }

    placeholder {
        font-style: italic;
    }
</style>
<body>
    <div class="form-horizontal" style="margin-top:100px">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12"></div>

            <div class="col-md-8 col-sm-9 col-xs-12">
                @using (Html.BeginForm("Report", "BaoCao", FormMethod.Post, new { @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="panel panel-default">
                        <Center>
                            <h2 style="color:orangered">BÁO CÁO DOANH THU</h2>
                        </Center>
                        <div class="panel-body">
                            <br />               
                            <div class="form-group">
                                <div class="form-inline center-block">
                                    <div class="form-group col-md-6">
                                        @Html.Label("Từ ngày:", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="time" name="dtp1">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label(" Đến:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="time2" name="dtp2">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <input type="submit" value="Create" class="btn btn-success" />
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left:40px;font-size:medium">
                                    @Html.ValidationMessage("ErrorMessage", new { style = "color:red" })
                                    <label style="color:orangered">@ViewBag.Success</label>
                                </div>

                            </div>
                        </div>
                        <label style="color:white;font-style:italic">(*) Vui lòng lưu file vào đường dẫn: C:\ReportPhongMachTu</label>   
                    </div>
                }
            </div>
        </div>
    </div>
</body>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
}
<script type="text/javascript">
    $(function () {
        $(".form-control").datepicker({ dateFormat: 'mm/dd/yy' });
    });
</script>


